{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<a href="#section2" id="section1">Go to bottom</a>
<div class="container-fluid my-4" >
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/aG-pvyMsbis/640x426" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/ihqB-c8C7Bc/640x426" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/kRaH720CCRE/640x426" class="d-block w-100" alt="...">
    </div>
  </div>
  </div></div>
  
<div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
          <a href="financial"><img src="/static/financial.png" alt=""></a>     

            <div class="card-body">
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                </div>
                <small class="text-muted">click on image for financial calculator</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          
          <a href="math"><img src="/static/math image.jpg" alt=""> </a>

            <div class="card-body">
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                </div>
                <small class="text-muted">click on image for math calculator</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href="physics"><img src="/static/physics1.jpg" alt=""></a>
            <div class="card-body">
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                </div>
                <small class="text-muted">click on image for physics calculator</small>
              </div>
            </div>
          </div>
        </div>

        
<a href="#section1" id=section2>Go to Top</a>    
{% endblock body %}
